body {
    background-color: beige;
}

h2 {
    font-size: 24pt;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin: 200px 20px 20px 20px;
}

p {
    width: 800px;
    margin: 20px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 22px;
}

#start {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    font-size: 20pt;
}

#highscore {
    font-size: 28pt;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    left: 10px;
}

#time {
    font-size: 28pt;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
}