body {
    background-color: beige;
}

h2 {
    font-size: 28pt;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin: 200px 20px 40px 20px;
}

h3 {
    font-size: 20pt;
    margin: 20px;
    text-align: center;
    font-family: sans-serif;
}

p,
#setHighscore {
    width: 800px;
    margin: 20px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 16pt;
    line-height: 22px;
}

ol {
    text-align: center;
    font-size: 16pt;
    margin: 20px;
}

#start,
#opt1,
#opt2,
#opt3 {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    font-size: 20pt;
}

#viewHighscore {
    font-size: 28pt;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    left: 10px;
}

#time {
    font-size: 28pt;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
}

#opt1,
#opt2,
#opt3 {
    margin: 16px auto;
    font-size: 16pt;
}